/* table{
      width: 20%;
      border-collapse: collapse;
      margin: 10px;
      padding: 10px;;
      border-radius: 50px;
      border: none;
      border-color: hotpink
} */

#head1{

    text-align: center;
}